{#- Intended configuration rendered from Nautobot (Golden Config SoT aggregation query "golden-config-lab").
    Only the features under compliance are rendered: the VLAN database, SVIs and loopbacks. -#}
{%- set masks = {'24': '255.255.255.0', '30': '255.255.255.252', '32': '255.255.255.255'} -%}
{%- set svis = [] -%}
{%- set loops = [] -%}
{%- for i in interfaces -%}
  {%- if i.name.startswith('Vlan') -%}{%- set _ = svis.append(i) -%}{%- endif -%}
  {%- if i.name.startswith('Loopback') and i.ip_addresses -%}{%- set _ = loops.append(i) -%}{%- endif -%}
{%- endfor -%}
hostname {{ hostname }}
!
ip domain name {{ config_context.domain_name }}
!
{% for i in interfaces if i.name == 'GigabitEthernet0/0' %}
interface GigabitEthernet0/0
 description {{ i.description }}
 vrf forwarding {{ i.vrf.name }}
 ip address {{ i.ip_addresses[0].address.split('/')[0] }} {{ masks[i.ip_addresses[0].address.split('/')[1]] }}
 negotiation auto
!
{% endfor %}
ip route vrf {{ config_context.oob.vrf }} 0.0.0.0 0.0.0.0 {{ config_context.oob.gateway }}
!
ip access-list standard {{ config_context.oob.acl }}
 10 remark OOB management network (host, NMS, lab hosts)
 20 permit {{ config_context.oob.prefix | ipaddress_network('network_address') }} {{ config_context.oob.prefix | ipaddress_network('hostmask') }}
 30 deny any log
!
{% for h in config_context.syslog_hosts %}
logging host {{ h }} vrf {{ config_context.oob.vrf }}
{% endfor %}
snmp-server community {{ config_context.snmp.community }} RO
snmp-server location {{ config_context.snmp.location }}
snmp-server contact {{ config_context.snmp.contact }}
{% for h in config_context.snmp.trap_hosts %}
snmp-server host {{ h }} vrf {{ config_context.oob.vrf }} version 2c {{ config_context.snmp.community }}
{% endfor %}
banner motd ^C{{ config_context.banner_motd }}^C
{% for n in config_context.ntp_servers %}
ntp server vrf {{ config_context.oob.vrf }} {{ n.ip }}{% if n.prefer %} prefer{% endif %}

{% endfor %}
!
{% for v in location.vlan_groups[0].vlans | sort(attribute='vid') -%}
vlan {{ v.vid }}
 name {{ v.name }}
!
{% endfor -%}
{% for i in loops -%}
interface {{ i.name }}
 description {{ i.description }}
 ip address {{ i.ip_addresses[0].address.split('/')[0] }} {{ masks[i.ip_addresses[0].address.split('/')[1]] }}
!
{% endfor -%}
{% for i in svis | sort(attribute='name') -%}
interface {{ i.name }}
{% if i.description %} description {{ i.description }}
{% endif -%}
{% if i.ip_addresses %} ip address {{ i.ip_addresses[0].address.split('/')[0] }} {{ masks[i.ip_addresses[0].address.split('/')[1]] }}
{% else %} no ip address
{% endif -%}
{% if not i.enabled %} shutdown
{% endif -%}
!
{% endfor -%}
{#- BGP from nautobot-bgp-models: routing instance, iBGP peer endpoints, networks = the prefixes tagged
    bgp:advertise behind this device's own interface addresses -#}
{%- set own = [] -%}
{%- for i in interfaces -%}
  {%- for ip in i.ip_addresses if ip.parent -%}
    {%- for t in ip.parent.tags if t.name == 'bgp:advertise' and ip.parent.prefix not in own -%}
      {%- set _ = own.append(ip.parent.prefix) -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}
{% for ri in bgp_routing_instances %}
router bgp {{ ri.autonomous_system.asn }}
 bgp router-id {{ ri.router_id.address.split('/')[0] }}
{% if ri.extra_attributes.log_neighbor_changes | default(true) %}
 bgp log-neighbor-changes
{% endif %}
{% for ep in ri.endpoints if ep.enabled and ep.peer %}
 neighbor {{ ep.peer.source_ip.address.split('/')[0] }} remote-as {{ ep.peer.autonomous_system.asn }}
 neighbor {{ ep.peer.source_ip.address.split('/')[0] }} description {{ ep.description }}
{% endfor %}
 !
 address-family ipv4
{% for p in own | sort %}
  network {{ p.split('/')[0] }} mask {{ masks[p.split('/')[1]] }}
{% endfor %}
{% for ep in ri.endpoints if ep.enabled and ep.peer %}
  neighbor {{ ep.peer.source_ip.address.split('/')[0] }} activate
{% endfor %}
 exit-address-family
!
{% endfor %}
